* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #09B6F6;
    --secondary-color: #0A34C1;
    --tertiary-color: #07C398;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--tertiary-color);
    background-color: #f8f8f8;
}

/* styling for header */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 10px 35px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url(../images/hero-bg.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.8);

}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.8);
}

header nav ul li a:hover {
    background-color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* styling for hero */
.hero {
    background-image: url(../images/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-attachment: fixed;
    background-position: 80%;
}

.hook {
    flex-basis: 50%;
    color: var(--secondary-color);
    margin: 0 auto; 
    text-align: right;
}

.hook p {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px 40px;
    border-radius: 30px;
    font-style: italic;
}

.hero img {
    max-width: 30%;
    border-radius: 50%;
    margin: 10px auto;
    flex-basis: 50%;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

/* styling for about me section */
h2 {
    color: var(--primary-color);
    font-size: 36px;
    font-weight: bold;
    text-align: right;
    border-right: 5px solid;
    padding: 20px 20px 0 0;
    width: 25%;
}

/*.bio {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
}*/


.bio p {
    line-height: 1.7;
    width: 75%;
    font-size: 20px;
    text-align: left;
    padding: 20px;
}

/* styling for my work section */
.projects {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    width: 75%;
}

.project {
    padding: 15px 30px;
    flex-basis: 50%;
    position: relative;
}

.project-1 {
    flex-basis: 100%;
}

.projects img {
    width: 100%;
    border: 5px solid var(--tertiary-color);
}

.project div {
    background-color: rgba(7, 195, 152, 0.5);
    padding: 5px 10px 5px 15px;
    position: absolute;
    bottom: 40px;
    left: 30px;
}

.project h3 {
    color: var(--secondary-color);
    font-size: 20px;
    line-height: 1.7;
}

.project h4 {
    color: var(--secondary-color);
    font-size: 15px;
    font-weight: normal;
    line-height: 1.7;
}

/* styling for contact me section */
.contacts {
    width: 75%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.contacts a {
    font-size: 26px;
    font-weight: bold;
    color: var(--secondary-color);
    text-decoration: none;
    border-bottom: 5px solid var(--secondary-color);
}

/* styling for footer */
footer {
    background-color: var(--primary-color);
    width: 100%;
    padding: 10px 35px;
    font-size: 17px;
    text-align: center;
    color: var(--secondary-color);
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    scroll-margin-top: 3em;
}
