* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #09B6F6;
    --secondary-color: #0A34C1;
    --tertiary-color: #07C398;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--tertiary-color);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 10px 20px;

}

h1 {
    font-size: 36px;
    font-weight: bold;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
}

.hero {
    background-image: url("../images/hero-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: 80%;
}

.hero div {
    max-width: 100%;
    padding: 25px;
    justify-content: flex-end;
    align-items: center;
    color: var(--secondary-color);
}

.hero img {
    max-width: 30%;
    height: auto;
    border-radius: 50%;
    margin: 10px;
}

h2 {
    color: var(--primary-color);
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    border-right: 5px solid;
    padding: 20px 20px 0 0;
    width: 30%;
}

/*.bio {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
}*/

.bio p {
    line-height: 1.7;
    width: 70%;
    font-size: 20px;
    text-align: left;
    padding: 20px;
}

.projects {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    width: 70%;
}

.project {
    padding: 15px 30px;
    flex-basis: 50%;
    position: relative;
}

.project-1 {
    flex-basis: 100%;
}

.projects img {
    width: 100%;
    border: 5px solid var(--tertiary-color);
}

.project div {
    background-color: rgba(7, 195, 152, 0.5);
    padding: 5px 10px 5px 15px;
    position: absolute;
    bottom: 40px;
    left: 30px;
}

.project h3 {
    color: var(--secondary-color);
    font-size: 20px;
    line-height: 1.7;
}

.project h4 {
    color: var(--secondary-color);
    font-size: 15px;
    font-weight: normal;
    line-height: 1.7;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
}
