* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #E79A5F;
    --secondary-color: #205E80;
    --tertiary-color: #06b189;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--secondary-color);
    background-color: #f8f8f8;
}

/* styling for header */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 10px 35px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url(../images/hero-bg.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.8);

}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.8);
}

header nav ul li a:hover {
    background-color: var(--primary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* styling for hero */
.hero {
    background-image: url(../images/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-attachment: fixed;
    background-position: 80%;
}

.hook {
    flex-basis: 50%;
    color: var(--secondary-color);
    margin: 0 auto; 
    text-align: right;
}

.hook p {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px 40px;
    border-radius: 30px;
    font-style: italic;
}

.hero img {
    max-width: 30%;
    border-radius: 50%;
    margin: 10px auto;
    flex-basis: 50%;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

/* styling for sections */
h2 {
    color: var(--primary-color);
    font-size: 36px;
    font-weight: bold;
    text-align: right;
    border-right: 5px solid;
    padding: 20px 20px 0 0;
    width: 25%;
    margin: revert;
}

/* about me section */ 
.bio p {
    line-height: 1.7;
    width: 75%;
    font-size: 17px;
    text-align: left;
    padding: 20px;
}

/* my work section */
.projects {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    width: 75%;
}

.project {
    padding: 15px 30px;
    flex-basis: 50%;
    position: relative;
}

.project-1 {
    flex-basis: 100%;
}

.projects img {
    width: 100%;
    border: 5px solid var(--tertiary-color);
    opacity: 0.65;
}

.projects img:hover {
    opacity: 1.0;
}

.project div {
    background-color: rgba(6, 177, 137, 0.5);
    padding: 5px 10px 5px 15px;
    position: absolute;
    bottom: 40px;
    left: 34px;
}

.project div:hover {
    background-color: rgba(6, 177, 137, 1.0);
}

.project h3 {
    color: var(--secondary-color);
    font-size: 20px;
    line-height: 1.7;
}

.project h4 {
    color: var(--secondary-color);
    font-size: 15px;
    font-weight: normal;
    line-height: 1.7;
}

/* contact me section */
.contacts {
    width: 75%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.contacts a {
    font-size: 2vw;
    font-weight: bold;
    color: var(--secondary-color);
    text-decoration: none;
    border-bottom: 5px solid var(--secondary-color);
}

/* styling for footer */
footer {
    background-color: var(--primary-color);
    width: 100%;
    padding: 10px 35px;
    font-size: 17px;
    text-align: center;
    color: var(--secondary-color);
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    scroll-margin-top: 3em;
}

/* Media Queries for smaller screens */
@media screen and (max-width: 924px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .hero {
        flex-flow: column-reverse;
    }

    .hook {
        text-align: center;
        width: 70%;
        margin: 10px auto;
    }

    h2 {
        border-bottom: 5px solid;
        border-right: none;
        padding: 10px;
        text-align: center;
        margin: 0 auto;
        width: 40%;
    }

    .flex-row {
        justify-content: center;
        scroll-margin-top: 0;    
    }

    .bio p {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .projects {
        flex-flow: column;
        margin: 0 auto;
        overflow: auto;
    }

    .project {
        padding: 15px 0;
    }

    .projects img {
        height: 350px;
    }

    .project div {
        bottom: 40px;
        left: 5px;
    }

    .contacts {
        width: 100%;
        padding: 15px;
        margin: 10px auto;
    }
}

@media screen and (max-width: 575px) {
    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 26px;
    }

    .projects {
        display: revert;
        flex: 1;
        flex-flow: column;
        overflow: auto;
    }

    .projects img {
        height: 250px;
    }
}